.animated-gradient {
  &.dark {
    background: linear-gradient(334deg, rgba(15,55,94,1), rgba(13,31,62,1), rgba(10,39,55,1));
  }

  &.light {
    background: linear-gradient(334deg, rgba(241,248,255,1), rgba(255,255,255,1), rgba(248,253,255,1));
  }

  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
